.gradle
build
.idea
.idea/workspace.xml
.idea/libraries
captures
.DS_Store
local.properties
*.iml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
